/*titlebar: hide line*/
.titlebar {
    border-bottom: none !important;
}

/*titlebar: hide display -> keep close / zoom / minimize buttons*/
.titlebar-container {
    display: none !important;
}

/*title: file path in the bottom*/
.monaco-workbench .part.editor>.content .editor-group-container>.title {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: #2a2d3d00 !important;
}

/* line in writeroom */
.monaco-split-view2 {
    --separator-border: none !important;
}

/* search bar */
.quick-input-widget {
    top: auto !important;
    bottom: 10px !important;
}

.quick-input-list {
    position: absolute;
    line-height: 22px;
    top: 0;
    width: 100%;
    transform: translateY(-100%);
}

.monaco-action-bar .action-item {
    display: none !important;
}

.monaco-action-bar .icon {
    display: none !important;
}

.monaco-workbench .part>.composite.title {
    display: none !important;
}

.monaco-workbench .part {
    height: 100% !important;
}